html,body {
	margin: 0;
	padding: 0;
}
header {
	background-color: #18d7d5;
}
header .container {
	min-height: 100px;
}
section .container {
	min-height: 100px;
}
footer {
	background-color: #ebecec;
}
footer .container {
	min-height: 100px;
}